.deps
.libs
epeg
*.lo
libepeg.la
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
compile
depcomp
epeg-config
epeg_docs.tar.gz
install-sh
libtool
missing
stamp-h1
doc
*.tar.gz
ltmain.sh
mkinstalldirs
epeg.c
epeg.pc
epeg-uninstalled.pc
epeg.spec
